<% if transactions.empty? %>
  <div class="alert alert-info">
    <i class="fas fa-info-circle me-2"></i>No Transactions added yet.
  </div>

<% else %>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <%= render 'sub_account_transactions/all_transactions_table_head', selected_columns: selected_columns %>
      <% transactions.each do |transaction| %>
        <%= render 'sub_account_transactions/transaction_body', transaction: transaction, selected_columns: selected_columns %>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<style>
.table-responsive {
  overflow-x: auto;
}

.table-sm th, .table-sm td {
  padding: 0.2rem; /* Reduce padding */
  font-size: 0.875rem; /* Reduce font size */
}

@media (max-width: 576px) {
  .table-sm th, .table-sm td {
    padding: 0.1rem; /* Further reduce padding on small screens */
    font-size: 0.75rem; /* Further reduce font size on small screens */
  }
}
</style>