<h1><%= action_name.capitalize %> Partner</h1>

<%= render 'form', shared_main_account_user: @shared_main_account_user %>

<%= link_to "Back to Partners", main_account_shared_main_account_users_path(@main_account), class: "button" %>
