<% if @sub_accounts.any? %>
  <div class="row">
    <% @sub_accounts.each do |sub_account| %>
      <div class="col-12 col-md-6 col-lg-4 mb-3">
        <%= render partial: "sub_accounts/account", locals: { sub_account: sub_account, main_account: @main_account } %>
      </div>
    <% end %>
<% end %>

<% if owner_or_partner?(@main_account) && @main_account.available_percentage > 0 %>
    <div class="col-12 col-md-6 col-lg-4">
      <%= render partial: "sub_accounts/new_account_card", locals: { main_account: @main_account } %>
    </div>
  </div>
<% end %>

<!-- Render Sub-account Transactions -->
<div class="mt-4">
  <% all_transactions = @sub_accounts.map(&:sub_account_transactions).flatten %>
  <%= render partial: 'sub_account_transactions/transactions', locals: { transactions: all_transactions, main_account: @main_account, title: "All Transactions" } %>
</div>