<div class="card shadow-sm" style="max-width: 600px; margin: 0 auto;">
  <div class="card-header bg-primary text-white">
    <h1 class="h5 mb-0"><%= @category.title %></h1>
  </div>
  <div class="card-body">
    <!-- Description -->
    <p class="mb-0"><%= @category.description %></p>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <!-- Edit Link -->
    <% if @main_account.owner == current_user %>
      <%= link_to "Edit", 
                  edit_main_account_sub_account_category_path(@main_account, @sub_account, @category), 
                  class: "btn btn-primary btn-sm" %>
    <% end %>
  </div>
</div>