<%= link_to "Back to #{@sub_account.title}", main_account_sub_account_path(@sub_account.main_account, @sub_account), 
              class: "text-link" %>

<!-- Category Navigation -->
<div style="margin: 0 auto;">
  <%= render partial: "categories/category_nav", locals: { main_account: @main_account, sub_account: @sub_account, category: @category } %>
</div>

<!-- Category Card -->
<%= render 'categories/category_card', category: @category %>

<!-- Transactions -->
<div class="mt-4">
  <%= render partial: 'sub_account_transactions/transactions', locals: { transactions: @category.sub_account_transactions, main_account: @main_account, title: "Transactions for '#{@category.title}'", category: @category } %>
</div>

<style>
.text-link {
  color: #007bff; /* Bootstrap primary color */
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 1rem;
}

.text-link:hover {
  text-decoration: underline;
}
</style>
